<component name="ProjectRunConfigurationManager">
    <configuration default="false" name="Day-${}" type="DenoConfigurationType" nameIsGenerated="true" inputPath="$PROJECT_DIR$/Day-${}/Solution.ts" programParameters="run --allow-read" workingDirectory="$PROJECT_DIR$/Day-${}">
        <option name="applicationArguments" value="sample.txt" />
        <method v="2" />
    </configuration>
</component>